/* header and nav layout */
header.header-wrapper {
  height: auto;
}

header .nav-wrapper {
  background-color: #006AC3;
  width: 100%;
  z-index: 50;
  position: relative;
  border-bottom: 1px solid var(--highlight-background-color);
}

header .nav-wrapper .nav-warning {
  background-color: white;
}

header .nav-wrapper .nav-warning .yellow-bar {
  height: 10px;
  background-color: #fedf01;
}

header .nav-wrapper .nav-warning .warning-message {
  display: flex;
  gap: 10px;
  max-width: 1280px;
  margin: auto;
  padding: 10px 0;
}

header .nav-wrapper .nav-warning .warning-message .warning-icon::before {
  content: "⚠️";
  margin-right: 5px;
  font-size: 1.2em;
}

header .nav-wrapper .nav-header {
  background-color: #0051A5;
}

header .nav-wrapper .nav-header nav {
  max-width: 1280px;
  height: auto;
  display: flex;
  align-items: center;
}

header .nav-wrapper .nav-header nav ul {
  display: flex;
  list-style: none;
  height: auto;
  padding: 0;
  margin: 0;
}

header .nav-wrapper .nav-header nav ul li {
  margin-right: 30px;
  color: white;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;;
}

header .nav-wrapper .nav-utils {
  display: flex;
  max-width: 1280px;
  flex-direction: row-reverse;
}

header .nav-wrapper .nav-utils .header-content {
  display: flex;
}

header .nav-wrapper .nav-main {
  display: flex;
  width: 100%;
}

header .nav-wrapper .nav-main .nav-container {
  position: relative;
  width: 100%;
}

header .nav-wrapper .nav-main .nav-container nav {
  display: flex;
  color: #006AC3;
  background-color: white;
  margin: auto;
  height: 100px;
}

header .nav-wrapper .nav-main .nav-container nav .nav-brand {
  display: none;
}

header .nav-wrapper .nav-main .nav-container picture {
  position: absolute;
  width: 1280px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
}

header .nav-wrapper .nav-main .nav-container picture img {
  height: 100px;
  width: auto;
}

header .nav-wrapper .nav-main .nav-container .nav-utils {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 70px;
  color: white;
  width: 100%;
  max-width: unset;
}

header .nav-wrapper .nav-main .nav-container .nav-utils .header-content {
  width: 1280px;
  margin: auto;
  justify-content: flex-end;
}

header .nav-wrapper .nav-main .nav-container .nav-utils .search-trigger {
  margin-right: 30px;
}

header .nav-wrapper .nav-main .nav-container .nav-utils .search-trigger .search-text {
  padding-bottom: 5px;
}

header .nav-wrapper .nav-main .nav-container .nav-utils .search-trigger .search-text img {
  width: 24px;
  margin-right: 5px;
}

header .nav-wrapper .nav-main .nav-container .nav-utils .search-trigger .search-text {
  border-bottom: solid white 1px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

header .nav-wrapper .nav-main .nav-container .nav-utils .global-nav {
  display: flex;
  gap: 30px;
}

header .nav-wrapper .nav-main .nav-container .nav-utils .global-nav a {
  color: white;
}

header .nav-wrapper .nav-main .nav-container .nav-utils .global-nav .secure-btn a {
  color: black;
  box-shadow: inset 0 0 0 1px #E8CF00;
  border: 1px solid #fff;
  border-radius: 1px;
  padding: 12px 15px;
  background-color: #fedf01;
}

header .nav-wrapper .nav-main .nav-container nav .nav-sections {
  max-width: 1280px;
  margin: auto;
}

header .nav-wrapper .nav-main .nav-container nav .nav-sections a {
  font-size: 18px;
}

header .nav-wrapper .nav-main .nav-container nav .nav-tools {
  display: none;
}

header .nav-wrapper .nav-main .nav-container nav .nav-auth {
  display: none;
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 1280px) {
  header nav {
  padding: 0;
  }
}


@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: var(--nav-height);
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  text-align: center;

  /* Custom */
  flex-basis: 200px;
}

header nav .nav-brand img {
  width: 300px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  justify-content: end;
}

header nav .nav-sections ul > li > a {
  text-decoration: none;
}

header nav .nav-sections ul > li > a:hover {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 3px solid var(--link-color);
  }

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li:hover {
  font-weight: 900;
  text-decoration: none;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-auth button {
  display:none;
}

@media (width >= 900px) {
  header nav .nav-auth button {
    display:unset;
    color: var(--text-color);
    background-color: rgb(243 246 242);
  }
}

header .nav-brand {
  max-height: 100%;
  width: auto;

  @media (width < 901px) {
    height: 100vh;
  }
}

header .nav-brand .default-content-wrapper {
  max-height: 100%;
  width: auto;

  /* Custom */
  @media (width < 901px) {
    height: 100vh;
    padding: 30px;
  }
}

header .nav-brand .default-content-wrapper picture {
  max-height: 100%;
  width: auto;
  display: block;

  @media (width < 901px) {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
}

header .nav-brand .default-content-wrapper picture img {
  max-height: 100%;
  width: auto;
  display: block;
  max-width: 100%;
}